*, img {
  max-width: 100%;
}

/*
Author : Jemy
*/
.navbar-expand-lg {
  background-color: #815a0b;
  padding: .25rem;
}

.navbar-expand-lg .container {
  padding-right: 0;
}

.navbar-expand-lg .container a.navbar-brand {
  color: #FFF;
  font: bold 1rem "Cairo", sans-serif;
}

.navbar-expand-lg .container ul a i {
  color: #FFF;
}

.navbar-expand-lg .container ul a i.fa-bell {
  padding-left: 12px;
}

.navbar-expand-lg .container ul a i.fa-bell span {
  position: absolute;
  top: -6px;
  right: 6px;
  height: 4px;
  width: 4px;
}

.control-pannel h2 {
  font: bold 1rem "Cairo", sans-serif;
  text-align: right;
  padding: .5rem .1rem;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

section {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #FFF;
}

section aside div {
  border-bottom: 1px solid #EEE;
  transition: all .5s ease-in-out;
  border-left: 1px solid #EEE;
}

section aside div:hover {
  background-color: #815a0b;
  cursor: pointer;
}

section aside div a {
  width: 100%;
}

section aside div a span i {
  padding: 1rem;
  color: #2e3a48;
}

section aside div a span i:hover {
  color: #FFF;
}

section aside div:first-child {
  border-left: none;
  background: #613b00;
}

.col-lg-6 .container-fluid .row .col-sm-3 {
  margin: 1rem;
}

.col-lg-6 .container-fluid .row a {
  text-decoration: none;
  color: #2e3a48;
  transition: all .5s ease-in-out;
  border: 1px solid #EEE;
  padding: 1.5rem 0;
}

.col-lg-6 .container-fluid .row a h5 {
  font: bold 1rem "Cairo", sans-serif;
}

.col-lg-6 .container-fluid .row a:hover {
  background-color: #815a0b;
  color: #FFF;
  cursor: pointer;
}

.col-lg-3 {
  margin-top: 1em;
}

.col-lg-3 .container-fluid .row .card .card-header {
  background-color: #EEE;
  font: bold 0.75rem "Cairo", sans-serif;
  border: none;
  padding: .5em .4em .5em 2.8em;
}

.col-lg-3 .container-fluid .row .card .card-header span i {
  padding-left: .5rem;
  padding-right: .5rem;
  vertical-align: 0% !important;
}

.col-lg-3 .container-fluid .row .card .card-body {
  padding: 0;
}

.col-lg-3 .container-fluid .row .card .card-body .table {
  margin-bottom: 0;
}

.col-lg-3 .container-fluid .row .card .card-body .table tr {
  border: none;
}

.col-lg-3 .container-fluid .row .card .card-body .table tr td:first-of-type {
  border-left: 1px solid #EEE;
}

.col-lg-3 .container-fluid .row .card .card-body .table tr td {
  font: bold 0.65rem "Cairo", sans-serif;
  padding: 0.5em .4em .5em 2.8em;
}

.col-lg-3 .container-fluid .row .card .card-body .table tr td span {
  color: #815a0b;
}

.sell-button button {
  background-color: #815a0b;
  font: bold 1rem "Cairo", sans-serif;
  cursor: pointer;
  color: #FFF;
  margin: 2%;
}

table.datatable thead .sorting_asc {
  border: 1px solid rgba(180, 180, 180, 0.4);
}

table.dataTable thead th,
table.dataTable thead td {
  padding: .5rem 0;
  font: bold 1rem "Cairo", sans-serif;
  color: "Cairo", sans-serif;
}

table.dataTable tbody th, table.dataTable tbody td {
  font: bold 0.75rem "Cairo", sans-serif;
  padding: .5rem 0;
}
