/***** Start Variables********/
/***** End Variables********/
/***** Start upper-header ********/
/*
Author : Jemy
*/
.upper-bar {
  background-color: #815a0b;
  display: flex; }
  .upper-bar .container-fluid {
    padding-left: 0; }
    .upper-bar .container-fluid .row div.elec-store {
      right: 6%;
      padding-top: .5em;
      text-align: right; }
      .upper-bar .container-fluid .row div.elec-store a {
        color: #FFF;
        font: bold 1rem "Cairo", sans-serif;
        margin-top: 2%; }
    .upper-bar .container-fluid .row div.nots-side {
      align-content: flex-start;
      padding-left: 0;
      text-align: left; }
      .upper-bar .container-fluid .row div.nots-side ul {
        display: inline-flex;
        margin-bottom: .5rem; }
        .upper-bar .container-fluid .row div.nots-side ul li a {
          color: #FFF; }

@media (max-width: 576px) {
  .upper-bar .container-fluid .row {
    margin-left: 0; }
    .upper-bar .container-fluid .row div.elec-store {
      right: 4%; }
    .upper-bar .container-fluid .row div.nots-side {
      left: 1%;
      padding-top: .4em; }
      .upper-bar .container-fluid .row div.nots-side ul {
        padding-right: 0; }
        .upper-bar .container-fluid .row div.nots-side ul li a {
          font-size: .9em; } }
/***** End upper-header********/
/***** Start control********/
div.control-pannel {
  right: 8%;
  padding-top: .5em;
  text-align: right; }
  div.control-pannel h2 {
    color: #555;
    font: bold 1rem "Cairo", sans-serif;
    margin-top: 2%; }

hr {
  margin-top: 0; }

/***** End control********/
/***** Start aside ********/
section {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #FFF; }
  section aside div {
    border-bottom: 1px solid #EEE;
    transition: all .5s ease-in-out;
    border-left: 1px solid #EEE; }
    section aside div:hover {
      background-color: #815a0b;
      cursor: pointer; }
    section aside div a {
      width: 100%; }
      section aside div a span i {
        padding: 1rem;
        color: #2e3a48; }
        section aside div a span i:hover {
          transition: all .2s ease-in-out;
          color: #FFF;
          transform: scale(1.3); }
  section aside div:first-child {
    border-left: none;
    background: #613b00; }
    section aside div:first-child a:first-child span i {
      color: white; }

/***** End aside********/
/***** Start store ********/
.col-lg-9 .container-fluid .row .col-lg-3 .suppliers,
.col-lg-9 .container-fluid .row .col-lg-3 .clients,
.col-lg-9 .container-fluid .row .col-lg-3 .stores,
.col-lg-9 .container-fluid .row .col-lg-3 .nots,
.col-lg-9 .container-fluid .row .col-lg-3 .money,
.col-lg-9 .container-fluid .row .col-lg-3 .safe,
.col-lg-9 .container-fluid .row .col-lg-3 .reports,
.col-lg-9 .container-fluid .row .col-lg-3 .users,
.col-lg-9 .container-fluid .row .col-lg-3 .post {
  margin: 0 1em 1em 1em;
  border: 1px solid #EEE;
  padding: 1.5rem 0;
  transition: all .5s ease-in-out; }
  .col-lg-9 .container-fluid .row .col-lg-3 .suppliers:hover,
  .col-lg-9 .container-fluid .row .col-lg-3 .clients:hover,
  .col-lg-9 .container-fluid .row .col-lg-3 .stores:hover,
  .col-lg-9 .container-fluid .row .col-lg-3 .nots:hover,
  .col-lg-9 .container-fluid .row .col-lg-3 .money:hover,
  .col-lg-9 .container-fluid .row .col-lg-3 .safe:hover,
  .col-lg-9 .container-fluid .row .col-lg-3 .reports:hover,
  .col-lg-9 .container-fluid .row .col-lg-3 .users:hover,
  .col-lg-9 .container-fluid .row .col-lg-3 .post:hover {
    background-color: #815a0b;
    color: #FFF;
    cursor: pointer;
    transform: scale(1.1); }
.col-lg-9 .container-fluid .row a {
  text-decoration: none;
  color: #2e3a48; }
  .col-lg-9 .container-fluid .row a h5 {
    font: bold 1rem "Cairo", sans-serif; }

/***** End store ********/
/***** Start stastics********/
.col-lg-3 {
  margin-top: 1em; }
  .col-lg-3 .container-fluid .row .card .card-header {
    background-color: #EEE;
    font: bold 0.75rem "Cairo", sans-serif;
    border: none;
    padding: .5em .4em .5em 2.8em; }
    .col-lg-3 .container-fluid .row .card .card-header span i {
      padding-left: .5rem;
      padding-right: .5rem;
      vertical-align: 0% !important; }
  .col-lg-3 .container-fluid .row .card .card-body {
    padding: 0; }
    .col-lg-3 .container-fluid .row .card .card-body .table {
      margin-bottom: 0; }
      .col-lg-3 .container-fluid .row .card .card-body .table tr {
        border: none; }
        .col-lg-3 .container-fluid .row .card .card-body .table tr td:first-of-type {
          border-left: 1px solid #EEE; }
        .col-lg-3 .container-fluid .row .card .card-body .table tr td {
          font: bold 0.65rem "Cairo", sans-serif;
          padding: 0.5em .4em .5em 2.8em; }
          .col-lg-3 .container-fluid .row .card .card-body .table tr td span {
            color: #815a0b; }

/***** End stastics********/
/***** Start tables ********/
.sell-button a {
  background-color: #815a0b;
  font: bold 1rem "Cairo", sans-serif;
  cursor: pointer;
  color: #FFF;
  margin: 2%; }

table.datatable thead .sorting_asc {
  border: 1px solid rgba(180, 180, 180, 0.4); }

table.dataTable thead th,
table.dataTable thead td {
  padding: .5rem 0;
  font: bold 1rem "Cairo", sans-serif;
  color: "Cairo", sans-serif; }

table.dataTable tbody th, table.dataTable tbody td {
  font: bold 0.75rem "Cairo", sans-serif;
  padding: .5rem 0; }

/***** End tables ********/
/***** Start left-table ********/
.left-table .body table thead tr {
  width: 100%; }
  .left-table .body table thead tr th {
    padding: .5rem;
    font: bold 1rem "Cairo", sans-serif; }
    .left-table .body table thead tr th span i {
      padding-left: 3%; }
.left-table .body table tbody tr {
  width: 100%; }
  .left-table .body table tbody tr td {
    padding: .5rem;
    font: bold 0.8rem "Cairo", sans-serif; }
    .left-table .body table tbody tr td a {
      color: #2e3a48;
      text-decoration: none; }
      .left-table .body table tbody tr td a span i {
        padding-left: 3%; }

/***** End left-table ********/
/***** Start form********/
.container form {
  margin: 5%; }
  .container form .row label {
    font: bold 0.75rem "Cairo", sans-serif; }
  .container form .row div .form-control {
    font: bold 0.75rem "Cairo", sans-serif; }

/***** End form********/
/****** Global Touches ********/
*, img {
  max-width: 100%; }

body {
  padding: 0;
  margin: 0;
  width: 100%; }

.sample {
  margin-right: 4.5%;
  margin-top: 1%; }

ul {
  list-style: none; }

a {
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
