section {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: $white;
    aside {
        div {
            border-bottom: 1px solid $gray;
            transition: all .5s ease-in-out;
            border-left: 1px solid $gray;
            &:hover {
                background-color: $baseColor;
                cursor: pointer;
                }
            a {
                width: 100%;
                span {
                    i {
                        padding: 1rem;
                        color: $secColor;
                        &:hover {
                            transition: all .2s ease-in-out;
                            color: $white;
                            transform: scale(1.3);
                        }
                    }
                }
            }
        }
        div:first-child {
            border-left: none;
            background: $darkBase;
            a:first-child {
                span {
                    i {
                        color: white;
                    }
                }
            }
        }
    }
}