div.control-pannel {
    right: 8%;
    padding-top: .5em;
    text-align: right;
    h2 {
        color: #555;
        font: bold 1rem $baseFont;
        margin-top: 2%;

    }
}
hr {
    margin-top: 0;
}
@media (max-width: 576px) {
    .lower-bar {
        .row {
            
        }
    }
}