.container {
    form {
        margin: 5%;
        .row {
            label {
                font: bold .75rem $baseFont;
            }
            div {
                .form-control {
                    font: bold .75rem $baseFont;
                }
            }
        }
    }
}