.left-table {
    .body {
        table {
            thead {
                tr {
                    width: 100%;
                    th {
                        padding: .5rem;
                        font: bold 1rem $baseFont;
                        span {
                            i {
                                padding-left: 3%;
                            }
                        }
                    }
                }
            }
            tbody {
                tr {
                    width: 100%;
                    td {
                        padding: .5rem;
                        font: bold .8rem $baseFont;
                        a {
                            color: $secColor;
                            text-decoration: none;
                            span {
                                i {
                                    padding-left: 3%
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}