.col-lg-9 {
    .container-fluid {
        .row {
            .col-lg-3 {
                .suppliers, 
                .clients, 
                .stores, 
                .nots, 
                .money, 
                .safe, 
                .reports, 
                .users, 
                .post {
                    margin: 0 1em 1em 1em;
                    border: 1px solid $gray;
                    padding: 1.5rem 0;
                    transition: all .5s ease-in-out;
                    &:hover {
                        background-color: $baseColor;
                        color: $white;
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            }
            a {
                text-decoration: none;
                color: $secColor;
                h5 {
                    font: bold 1rem $baseFont;
                }

            }
        }
    }
}