.sell-button {
    a {
        background-color: $baseColor;
        font: bold 1rem $baseFont;
        cursor: pointer;
        color: $white;
        margin: 2%
    }
}

table.datatable thead .sorting_asc {
    border: 1px solid rgba(180, 180, 180, .4);
}
table.dataTable thead th, 
table.dataTable thead td {
    padding: .5rem 0;
    font: bold 1rem $baseFont;
    color: $baseFont
}
table.dataTable tbody th, table.dataTable tbody td {
    font: bold .75rem $baseFont; 
    padding: .5rem 0;
}
